<label>Server name (event binding):</label>
<br />
<input
  type="text"
  class="form-control"
  (input)="onUpdateServerName($event)"
>
<br />
<p>{{ serverName }}</p>
<hr/>

<label>Server name (ng model, two-way binding):</label>
<br />
<input
  type="text"
  class="form-control"
  [(ngModel)]="serverName"
>
<br />
<p>{{ serverName }}</p>
<hr/>

<button
  class="btn btn-primary"
  [disabled]="!allowNewServer"
  (click)="onCreateServer()"
>
  Add server
</button>
<br />
<br />
<p>{{ serverCreationStatus }}</p>
<hr />
<app-server></app-server>
<app-server></app-server>
